body {
    background-image: url(GTAvc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: serif, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 50vh;
    padding-bottom: 700px;
    margin: 5vh;
    padding-top: 0px;
    overflow-y: auto;
}
input {
    margin-bottom: 1px;
    padding: 5px;
    border: 3px solid rgb(187, 15, 15);
    border-radius: 10px;
    color: rgb(252, 231, 156);
    background-color: rgba(175, 68, 38, 0.226);
}
button{
    padding: 6px;
    border: 3px solid rgb(187, 15, 15);
    background-color: rgb(189, 75, 67);
    color: rgb(252, 231, 156);
    background-color: rgba(175, 68, 38, 0.226);
    border-radius: 10px;
}

#DirAreaa ol{
    text-align: left;
}
#Diss input[type="checkbox"]
{
    height: 15px;    
}
#mainn {
    border: 2px solid rgb(187, 15, 15);
    box-sizing: border-box;
    color: rgb(87, 236, 206);
    min-height: 40vh;
    border-radius: 10px;
    width: 850px;
    padding: 20px;
    margin: 0px;
    background-color: rgba(255, 0, 153, 0.104);
    overflow-y: auto;
}
#infooo{
    max-width: 900px;
    font-size: 20px;
    color: #c8ff3d;
    text-shadow: 2px 2px 2px #182200;
}
#Pfp
{
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
}
#Headd
{
    color: rgb(146, 251, 255);
    
    text-shadow: 2px 2px 2px rgb(0, 72, 74);
}